$color-text:#565656;
$color-h:#000000;
$color-nav:#000000;
$color-btn:#FFFFFF;
$bg-btn:#565656;
$fs:16px;
$fs-h1:48px;
$fs-h2:28px;
$fs-h3:23px;
$ff-text:'Lato', sans-serif;
$ff-h:'Red Hat Display', sans-serif;